#splash{
    width: 50%;
    height: 350px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
}
#img{
    width: 150px;
    height:210px;
    margin-left: auto;
    margin-right: auto;
}
#img img{
    width:100%;
    height: auto;
}
#wheel{
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}
#wheel img{
    width: 100%;
    height: auto;
}
#navbar nav.navbar.navbar-default{
    height:50px;
}
#navbarCollapse {
    height: auto;
}
ul.nav:nth-child(2) > li:nth-child(1){
    height: auto;
}
body {
    background-image: url('background.jpg');

}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

#starholder    { 
    position: relative; 
    left: 200px;
    width: 500px; 
    height: 400px; 
}

#star    {
    background: url(wheel.png) 0 0 no-repeat; 
    position: absolute; 
    top: -0px; 
    left: -0px; 
    width: 400px; 
    height: 400px; 
    -webkit-animation-name: spin; 
    -webkit-animation-duration: 12000ms;
    -webkit-animation-iteration-count: infinite; 
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin; 
    -moz-animation-duration: 12000ms;
    -moz-animation-iteration-count: infinite; 
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin; 
    -ms-animation-duration: 12000ms;
    -ms-animation-iteration-count: infinite; 
    -ms-animation-timing-function: linear;
}
